:root{
    /*colors*/
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    /*font*/
    --font-Outfit: 'Outfit', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family:var(--font-Outfit);
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Light-gray);
}

.card-container{
    width: 280px;
    height: 440px;
    background-color: var(--White);
    border-radius: 20px;
}

.card-container__img{
    background-image: url(./images/image-qr-code.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.card-container__info{
    padding: 15px 20px;
    text-align: center;
}

.info__tittle{
    font-weight: 700;
    color: var(--Dark-blue);
    
}

.info__paragraph{
    font-weight: 400;
    color: gray;
    font-size: 15px;
    margin: 10px 0;
}